<!-- Ceremonia - Fiesta-->
<section class="ceremonia-fiesta">
  <picture>
    <source type="image/webp" srcset="img/Grupo02_a.webp" />
    <source type="image/png" srcset="img/Grupo02_a.png" />
    <img
      class="adorno adorno-1"
      data-aos="fade-right"
      data-aos-delay="300"
      data-aos-duration="1000"
      data-aos-once="false"
      src="img/Grupo02_a.png"
      alt=""
      loading="lazy"
    />
  </picture>
  <picture>
    <source type="image/webp" srcset="img/Grupo02_b.webp" />
    <source type="image/png" srcset="img/Grupo02_b.png" />
    <img
      class="adorno adorno-2"
      data-aos="fade-right"
      data-aos-delay="450"
      data-aos-duration="1000"
      data-aos-once="false"
      src="img/Grupo02_b.png"
      alt=""
      loading="lazy"
    />
  </picture>
  <picture>
    <source type="image/webp" srcset="img/Grupo02_c.webp" />
    <source type="image/png" srcset="img/Grupo02_c.png" />
    <img
      class="adorno adorno-3"
      data-aos="fade-right"
      data-aos-delay="650"
      data-aos-duration="1000"
      data-aos-once="false"
      src="img/Grupo02_c.png"
      alt=""
      loading="lazy"
    />
  </picture>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-ceremonia text-center">
        <div #animaRings class="anim-anillos"></div>
        <br />
        <h3>Ceremonia</h3>
        <div class="info-col">
          <div class="info-box">
            <h6>Día</h6>
            <p>Sábado 30 de Noviembre - 7:00pm</p>
            <!-- <a href="#" class="boton addeventatc">
              <span class="nameBtn">Agendar</span>
              <span class="start">2024-11-30 19:00:00</span>
              <span class="end">2024-11-30 19:00:00</span>
              <span class="timezone">America/Lima</span>
              <span class="title">Boda de Luis y Cristina (Ceremonia)</span>
            </a> -->
          </div>
          <div class="info-box">
            <h6>Lugar</h6>
            <p>Parroquia El Sagrario de Lima</p>
            <!-- <a href="#" data-evento="Ceremonia" class="boton confirmar-asistencia">Confirmar asistencia</a> -->
          </div>
          <div class="info-box">
            <h6>Dirección</h6>
            <p>Jr. Carabaya 220 - Plaza de Armas - Lima</p>
            <a href="https://maps.app.goo.gl/j4mqPfJhf4PuLviD7" target="_blank" class="boton">¿Cómo llegar?</a>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-fiesta text-center">
        <div #animaParty class="anim-fiesta"></div>
        <br />
        <h3>Celebración</h3>
        <div class="info-col">
          <div class="info-box">
            <h6>Día</h6>
            <p>Sábado 30 de Noviembre - 10:00pm</p>
            <!-- <a href="#" class="boton addeventatc">
              <span class="nameBtn">Agendar</span>
              <span class="start">2024-11-30 22:30:00</span>
              <span class="end">2024-11-30 22:30:00</span>
              <span class="timezone">America/Lima</span>
              <span class="title">Boda de Luis y Cristina (Celebración)</span>
            </a> -->
          </div>
          <div class="info-box">
            <h6>Lugar</h6>
            <p>Salón de Eventos Rose</p>
            <!-- <a href="#" data-evento="Fiesta" class="boton confirmar-asistencia">Confirmar asistencia</a> -->
          </div>
          <div class="info-box">
            <h6>Dirección</h6>
            <p>Av. José Carlos Mariategui 1932 - Villa María del Triunfo</p>
            <a href="https://maps.app.goo.gl/yYF4RxJ4uq5sKhs29" target="_blank" class="boton">¿Cómo llegar?</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
