<picture>
  <source type="image/webp" srcset="img/Grupo01_a.webp" />
  <source type="image/png" srcset="img/Grupo01_a.png" />
  <img
    class="adorno adorno-1"
    data-aos="fade-down"
    data-aos-delay="0"
    data-aos-duration="500"
    data-aos-once="false"
    src="img/Grupo01_a.png"
    alt=""
    loading="lazy"
  />
</picture>
<picture>
  <source type="image/webp" srcset="img/Grupo01_b.webp" />
  <source type="image/png" srcset="img/Grupo01_b.png" />
  <img
    class="adorno adorno-2"
    data-aos="fade-down"
    data-aos-delay="80"
    data-aos-duration="500"
    data-aos-once="false"
    src="img/Grupo01_b.png"
    alt=""
    loading="lazy"
  />
</picture>
<picture>
  <source type="image/webp" srcset="img/Grupo01_c.webp" />
  <source type="image/png" srcset="img/Grupo01_c.png" />
  <img
    class="adorno adorno-3"
    data-aos="fade-down"
    data-aos-delay="200"
    data-aos-duration="500"
    data-aos-once="false"
    src="img/Grupo01_c.png"
    alt=""
    loading="lazy"
  />
</picture>

<div class="container">
  <div class="row d-flex justify-content-center align-items-center">
    <div class="content-portada text-center">
      <!-- Idiomas -->
      <div class="box-nombres-fecha-portada">
        <span class="fecha">30.11.2024</span>
        <h1>Luis<br class="d-md-none" /><span class="mx-3">&</span><br class="d-md-none" />Cristina</h1>
        <div class="line"></div>
      </div>
      <div class="box-frase-portada">
        <p>
          <img src="img/comilla-apertura.svg" alt="" /> <br />
          Con la bendición de Dios y de nuestros padres, <br />
          tenemos el gusto de invitarte en este día tan importante de nuestras vidas <br />
          <img src="img/comilla-cierre.svg" alt="" />
        </p>
      </div>
      <div class="d-flex justify-content-center align-items-center">
        <div #arrowContinue class="flecha-continuar"></div>
      </div>
    </div>
  </div>
</div>
