<!-- <div class="preloader-area">
  <div class="d-flex justify-content-center align-items-center h-100">
    <div class="loader"></div>
  </div>
</div> -->
<!-- END PRELOADER AREA -->

<!-- Modal musica fondo -->
<div id="modalMusica" class="modal fade" tabindex="-1">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body text-center">
        <p>
          <span>Bienvenidos a la invitación de</span><br />
          Luis y Cristina
        </p>
        <span>La música de fondo es parte de la experiencia</span>
        <br />
        <a class="boton" id="play-music-modal" href="#">Ingresar con música</a>
        <a class="boton" data-dismiss="modal" aria-label="Close" id="" href="#">Ingresar sin música</a>
      </div>
    </div>
  </div>
</div>
<section class="portada">
  <lyc-front-page></lyc-front-page>
</section>
<section class="cuenta-regresiva">
  <lyc-countdown></lyc-countdown>
</section>
<lyc-ceremony></lyc-ceremony>
<lyc-gifts></lyc-gifts>
<!-- <router-outlet /> -->
