<!-- Regalos-->
<section class="regalos">
  <picture>
    <source type="image/webp" srcset="img/Grupo02_a.webp" />
    <source type="image/png" srcset="img/Grupo02_a.png" />
    <img
      class="adorno adorno-1"
      data-aos="fade-right"
      data-aos-delay="300"
      data-aos-duration="1000"
      data-aos-once="false"
      src="img/Grupo02_a.png"
      alt=""
      loading="lazy"
    />
  </picture>
  <picture>
    <source type="image/webp" srcset="img/Grupo02_b.webp" />
    <source type="image/png" srcset="img/Grupo02_b.png" />
    <img
      class="adorno adorno-2"
      data-aos="fade-right"
      data-aos-delay="450"
      data-aos-duration="1000"
      data-aos-once="false"
      src="img/Grupo02_b.png"
      alt=""
      loading="lazy"
    />
  </picture>
  <picture>
    <source type="image/webp" srcset="img/Grupo02_c.webp" />
    <source type="image/png" srcset="img/Grupo02_c.png" />
    <img
      class="adorno adorno-3"
      data-aos="fade-right"
      data-aos-delay="650"
      data-aos-duration="1000"
      data-aos-once="false"
      src="img/Grupo02_c.png"
      alt=""
      loading="lazy"
    />
  </picture>
  <div class="container">
    <div class="row text-center d-flex justify-content-center align-items-center">
      <h2 class="title">Regalos</h2>
      <p class="subtitle">Si deseas regalarnos algo más que tu hermosa presencia...</p>
      <div class="w-100"><div class="anim-regalos"></div></div>
      <br />
      <a href="#" class="boton modal-regalos">Ver más</a>
    </div>
  </div>
</section>
